<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
	</head>
	
	<body class="container-fluid">
		<header>
			<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-dark">
				<a class="navbar-brand" href="{{ path('home') }}">UltimateGDApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="mr-auto navbar-nav">
						<li class="nav-item {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"><a href="{{ path('home') }}" class="nav-link">Home</a></li>
						<li class="nav-item {% if app.request.attributes.get('_route') == 'documentation' %}active{% endif %}"><a href="#" class="nav-link">Documentation</a></li>
						<li class="nav-item {% if app.request.attributes.get('_route') == 'news' %}active{% endif %}"><a href="#" class="nav-link">News</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<section id="section-home-carousel">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100 carousel-img align-self-center" src="{{ asset('images/carousel-img.png') }}" alt="First slide">
						<div class="carousel-caption">
							<h2>UltimateGDBot, the Discord bot for Geometry Dash players</h2>
							<p>Quickly get access to some in-game information from anywhere at anytime!</p>
							<a class="btn btn-success" href="#">GET DISCORD BOT</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="section-home-desc">
			<div class="row no-gutters app-feature">
				<div class="col-md-7 app-feature-body">
					<h2 class="text-justify">Get notified when new levels are being rated!</h2>
					<p class="text-justify">All you need to do is to set up a channel and a role to mention, and the bot will send you a notification when new levels are being rated in Geometry Dash. This lets you play the newest levels early so you have more chances to get a high spot on the level leaderboards!</p>
				</div>
				<div class="col-md-5 text-center">
					<img class="app-feature-img" src="{{ asset('images/app-feature-1.png') }}" alt="app-feature-1" />
				</div>
			</div>
			<div class="row no-gutters app-feature">
				<div class="col-md-7 app-feature-body">
					<h2 class="text-justify">Search for a level or a user instantly!</h2>
					<p class="text-justify">The Discord bot provides simple commands so that you can get info on any level by providing its name or ID. You can also display stats for any user in the game, including their global rank and social links.</p>
				</div>
				<div class="col-md-5 text-center">
					<img class="app-feature-img" src="{{ asset('images/app-feature-2.png') }}" alt="app-feature-2" />
				</div>
			</div>
		</section>

		<footer>
			<p>&copy; {{ 'now'|date('Y') }} Alex1304. UltimateGDApp is an open-source project, please refer to the LICENSE file on <a href="https://github.com/Alex1304/ultimategdapp" target="_blank">GitHub</a> for further information.</p>

			<p>Neither this website nor any related applications are sponsored or supported by RobTopGames in any way. Do not contact RobTopGames to get help regarding the app. Oppositely, do not contact Alex1304 to get support regarding the game Geometry Dash.</p>
		</footer>

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>